<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="2-Phase Switched Reluctance Motor Market to depict the global industry dynamics covering type, size, application, growth analysis, and other factors that are affecting the market">
    <meta name="keywords" content="2-Phase Switched Reluctance Motor Market">
    <link rel="stylesheet" href="./css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="./css/style.css">
    <title><?php echo $reports_data['title'];?>
    </title>
    <style>
      .pageTopHead{
        display:none;
      }
    </style>
</head>
<body>


    <section class="pb-5 formImage pt-5">
        <div class="container pt-5">
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb bgtrans pl-0">
                    <!-- <li class="breadcrumb-item"><a href="report.html"><i class="fa fa-arrow-left"></i> Back</a></li> -->
                </ol>
            </nav>
            <div class="pb-5 pt-5">
                <!-- <h1 class="f25">Post-pandemic Era-Global 2-Phase Switched Reluctance Motor Market (Sales, Revenue, Price, Gross Profit and Competitors Analysis of Major Market) from 2015-2021</h1>
             -->
            </div>
            <div class="row">
                <div class="col-md-6">
                    <div class="clrfff">
                        <h1 class="pt-5 pb-5">Feel free to connect with us !</h1>
                        <h2><i class="fa fa-envelope pr-4"></i>info@globalinfiresearch.com</h2>
                        <h2><i class="fa fa-phone pr-4"></i>+91 987-6543-210</h2>
                    </div>
                </div>
                <div class="col-md-6 bg-prime bx-shadow2">
                    <div class="pt-3 pb-5">
                        <form role="form" action="<?php echo base_url('Cust/Controller_Report/sample_request/'.$reports_data['id'])?>" method="post" enctype="multipart/form-data">
                        <?php // echo form_open( base_url('Cust/Controller_Report/sample_request')); ?>
                        
                            <h4 class="f24 text-center clrfff pt-2">Contact us</h4> 
                            
                            <p>lorem ipsum</p>
                            
                            <!--<div id="messages"></div>-->
                            <?php if($this->session->flashdata('success')): ?>
                              <div class="alert alert-success alert-dismissible" role="alert">
                                <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                <?php echo $this->session->flashdata('success'); ?>
                              </div>
                            <?php elseif($this->session->flashdata('error')): ?>
                              <div class="alert alert-error alert-dismissible" role="alert">
                                <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                <?php echo $this->session->flashdata('error'); ?>
                              </div>
                            <?php endif; ?>

                            <input type="hidden" class="form-control" id="reports_id" name="reports_id" value="<?php echo $reports_data['id'];?>">
                            <input type="hidden" class="form-control" id="type" name="type" value="sample_request">
                            
                           <div class="input-group mb-2 mr-sm-2 giFromsinputgroup form-group">
                               <div class="input-group-prepend">
                               <div class="input-group-text">
                                   <i class="fa fa-user clrfff"></i>
                               </div>
                               </div>
                               <input type="text" class="form-control" id="full_name" name="full_name" placeholder="Full Name" required>
                           </div>
                           <div class="input-group mb-2 mr-sm-2 giFromsinputgroup">
                               <div class="input-group-prepend">
                               <div class="input-group-text">
                                   <i class="clrfff fa fa-envelope"></i>
                               </div>
                               </div>
                               <input type="text" class="form-control" id="email" name="email" placeholder="Email Id" required>
                           </div>
                           <div class="input-group mb-2 mr-sm-2 giFromsinputgroup">
                               <div class="input-group-prepend">
                               <div class="input-group-text">
                                   <i class="clrfff fa fa-phone"></i>
                               </div>
                               </div>
                               <input type="text" class="form-control" id="phone" name="phone" placeholder="Phone Number" required>
                           </div>
                           <div class="input-group mb-2 mr-sm-2 giFromsinputgroup">
                               <div class="input-group-prepend">
                               <div class="input-group-text">
                                   <i class="clrfff fa fa-university"></i>
                               </div>
                               </div>
                               <input type="text" class="form-control" id="company" name="company" placeholder="Company Name">
                           </div>
                           <div class="input-group giFromsinputgroup">
                                <!--<label for="exampleFormControlSelect1">Example select</label>--> 
                               <div class="input-group-prepend">
                                   <div class="input-group-text">
                                       <i class="clrfff fa fa-clock-o"></i>
                                   </div>
                                   </div>
                               <select class="form-control" id="purchasetime" name="purchasetime">
                                   <option selected>Purchase Time</option>
                                 <option>0-1 Week</option>
                                 <option>1-3 Week</option>
                                 <option>3-5 Week</option>
                                 <option>No Purchase , Just Sample</option>

                               </select>
                             </div>
                             <div class="input-group giFromsinputgroup">
                               <div class="input-group-prepend w-100">
                                   <div class="input-group-text">
                                       <i class="clrfff fa fa-comment"></i>
                                   </div>
                                   <textarea class="form-control" id="message" name="message" rows="1" placeholder="Enter Message"></textarea>
                                   </div>
                         </div>
                           <div class="input-group mb-2 mr-sm-2 giFromsinputgroup cust-captcha ">
                            <label class="submit__control">
                    
                                <div class="submit__generated">
                            
                                </div>
                                <i class="clrfff fa fa-refresh"></i>
                                <!-- <span class="submit__error hide">Incorrect value</span>
                                <span class="submit__error--empty hide">Required field cannot be left blank</span> --> 
                              </label>
<!--                             
                              <input class="submit overlay"
                                     type="submit"
                                     value="Submit"   required> -->
                              
                        </div>
                               <input type="submit" class="requestSampleSubmit" value="SUBMIT">
                                <?php // echo anchor('Cust/Controller_Report/sample_request/2','SUBMIT',array('class'=>'btn btn-success')); ?>
                        </form>
                         <?php // echo form_close(); ?>
                    </div>
                    
                </div>
            </div>
        </div>
    </section>
















<!-- footer -->
<!--<section class="footer pb-3 pb-5 pt-3  bg-prime">
  <div class="container">
  <div class="row">
    <div class="col-md-2"></div>
    <div class="col-md-8 col-sm-12 text-center">
      <div class="ftr-data">
        <img src="./img/logo.jpeg" alt="" class="">
        <div class="d-flex pt-4">
        <p class="phone pr-4 m-auto"><i class="fa fa-phone pr-3"></i>+200 4586 5978<i class="fa fa-envelope pl-3 pr-3"></i>info@globalinfiresearch.com</p>
         <p class="phone"></p> 
      </div>
        <div class="list-unstyled ftrlinks">
           <a href="index.html">Home</a>
          <a href="reports.html">Reports</a>
          <a href="categories.html">categories</a>
          <a href="blog-listing.html">Media</a>
          <a href="about.html">About us</a>
          <a href="contact.html">Contact us</a> 
          <a href="privacy-policy.html">Privacy policy</a>
          <a href="terms.html">Terms and condition</a>
          
          <a href="return-policy.html">Return policy</a>
          <a href="disclaimer.html">Disclaimer</a>
          <a href="faqs.html">FAQS</a>

        </div>
        <h5 class="p-3 clrfff op05">“The main goal for us is to turn data into information and information into insights followed by business growth.”</h5>
       
        <div class="s-icons">
          <a href="#" class="clrfff"><i class="fa fa-facebook"></i></a>
          <a href="#" class="clrfff"><i class="fa fa-instagram"></i></a>
        </div>
      </div>
    </div>
    <div class="col-md-2"></div>
  </div>
</div>
</section>-->

    <script>

        
    </script>


    <script src="./js/bootstrap.min.js"></script>
    <script src="./js/bootstrap-slider.min.js"></script>
    <script src="./js/popper.min.js"></script>
    <script src="./js/slim.min.js"></script>
    <script src="./js/bootstrap.bundle.min.js"></script>
    <script src="./js/script.js"></script>

</body>
</html>