<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <!-- <link rel="stylesheet" href="./css/font-awesome.min.css"> -->
    <link rel="stylesheet" href="./css/style.css">
    <title>GI Research</title>
    <style>
        
        .pthTitle{
            display: none;
        }
        .secHead h1{
          margin-top: 151px;
        }
    </style>
</head>
<body>
  <div class="container">
    <div class="secHead pb-2">
    <h1 class="">FAQ's</h1>
    </div>
  </div>
  <section class="container pt-5">

<!-- <div class="row mb-4">
        <div class="col-sm-12 col-md-12 col-lg-12 m-auto staticinfo">
            <div>
           

<h2> In which formats can I download the requested reports?</h2>
<p class="op05"> The following formats are available through Global Infi Research:</p> 
<ul class="op05 pl-3">
<li> PDF</li>
<li> Microsoft Word/Excel Datasheet</li>
<li> PowerPoint Presentation</li>
</ul>
<h2> Can I customize the report based on what I need? If so, then how?</h2>
<p>You can edit or customize the scope of the report and define it in accordance with your requirements. The amendment is permitted for a maximum of 10% of the cost of the report. The “Customization Request” form is available on the Web site, where you can provide customization requirements.</p> 
	
<h2> Are there any rebates available on reports?</h2>
<p>We, at Global Infi Research provide multiple discounts on an occasional basis. For example, you can get a 5% reduction in case you pay by bank transfer. For more information about the offers, please reach our sales support.</p> 


<h2> What is the policy on the payment made?</h2>
<p>The report comprises a detailed analysis of the market. As we transfer knowledge and provide you with a detailed understanding of the market, the payment once done is non-refundable. Nevertheless, we provide 24/7 client support and answer all questions you have on the report.</p> 

<h2> What is the frequency of updating your report?</h2>
<p>The majority of Global Infi Research Reports are updated on an annual basis. Some are updated each time there is a change in the industry landscape to better reflect this in the reports. The purchase of some report variations gives you the right to receive the updated version free of charge our sales representative will provide you with this information.</p> 

<h2> What methodology are you using for the compilation of your reports?</h2>
<p>A detailed methodology for each report can be found on the report page. If you need further clarification, you can always contact our support team at- Global Infi Research.com</p> 

<h2> When do I retrieve the printed copy of the report and when do I obtain the published report if I purchased it online?</h2>
<p>The printed copy will be delivered within five to seven business days of the date of your purchase. Once we receive the payment, you will receive the posted report by e-mail within 36-72 hours.</p> 

            </div>
        </div>
    </div>  -->

    <div class="panel-group" id="help-accordion-1">
      <div class="panel cust-panel  panel-default panel-help">
        <a href="#gifaq1" data-toggle="collapse" data-parent="#help-accordion-1">
          <div class="panel-heading">
            <h2> In which formats can I download the requested reports?</h2>
          </div>
        </a>
        <div id="gifaq1" class="collapse in">
          <div class="panel-body">
            <p class="op05"> The following formats are available through Global Infi Research:</p> 
            <ul class="op05 pl-3">
            <li> PDF</li>
            <li> Microsoft Word/Excel Datasheet</li>
            <li> PowerPoint Presentation</li>
            </ul>
          </div>
        </div>
      </div>
      <div class="panel cust-panel  panel-default panel-help">
        <a href="#gifaq2" data-toggle="collapse" data-parent="#help-accordion-1">
          <div class="panel-heading">
            <h2> Can I customize the report based on what I need? If so, then how?</h2>

	
          </div>
        </a>
        <div id="gifaq2" class="collapse">
          <div class="panel-body">
            <p>You can edit or customize the scope of the report and define it in accordance with your requirements. The amendment is permitted for a maximum of 10% of the cost of the report. The “Customization Request” form is available on the Web site, where you can provide customization requirements.</p> 
          </div>
        </div>
      </div>
      <div class="panel cust-panel  panel-default panel-help">
        <a href="#gifaq3" data-toggle="collapse" data-parent="#help-accordion-1">
          <div class="panel-heading">
            <h2> Are there any rebates available on reports?</h2>
          </div>
        </a>
        <div id="gifaq3" class="collapse">
          <div class="panel-body">
            <p>We, at Global Infi Research provide multiple discounts on an occasional basis. For example, you can get a 5% reduction in case you pay by bank transfer. For more information about the offers, please reach our sales support.</p> 

          </div>
        </div>
      </div>
      <div class="panel cust-panel  panel-default panel-help">
        <a href="#gifaq4" data-toggle="collapse" data-parent="#help-accordion-1">
          <div class="panel-heading">
            <h2> What is the policy on the payment made?</h2>
          </div>
        </a>
        <div id="gifaq4" class="collapse">
          <div class="panel-body">
            <p>The report comprises a detailed analysis of the market. As we transfer knowledge and provide you with a detailed understanding of the market, the payment once done is non-refundable. Nevertheless, we provide 24/7 client support and answer all questions you have on the report.</p> 

          </div>
        </div>
      </div>
      <div class="panel cust-panel  panel-default panel-help">
        <a href="#gifaq5" data-toggle="collapse" data-parent="#help-accordion-1">
          <div class="panel-heading">
            <h2> What is the frequency of updating your report?</h2>
          </div>
        </a>
        <div id="gifaq5" class="collapse">
          <div class="panel-body">
            <p>The majority of Global Infi Research Reports are updated on an annual basis. Some are updated each time there is a change in the industry landscape to better reflect this in the reports. The purchase of some report variations gives you the right to receive the updated version free of charge our sales representative will provide you with this information.</p> 

          </div>
        </div>
      </div>
      <div class="panel cust-panel  panel-default panel-help">
        <a href="#gifaq6" data-toggle="collapse" data-parent="#help-accordion-1">
          <div class="panel-heading">
            <h2> What methodology are you using for the compilation of your reports?</h2>
          </div>
        </a>
        <div id="gifaq6" class="collapse">
          <div class="panel-body">
            <p>A detailed methodology for each report can be found on the report page. If you need further clarification, you can always contact our support team at- Global Infi Research.com</p> 

          </div>
        </div>
      </div>
      <div class="panel cust-panel  panel-default panel-help">
        <a href="#gifaq7" data-toggle="collapse" data-parent="#help-accordion-1">
          <div class="panel-heading">
            <h2> When do I retrieve the printed copy of the report and when do I obtain the published report if I purchased it online?</h2>
          </div>
        </a>
        <div id="gifaq7" class="collapse">
          <div class="panel-body">
            <p>The printed copy will be delivered within five to seven business days of the date of your purchase. Once we receive the payment, you will receive the posted report by e-mail within 36-72 hours.</p> 

          </div>
        </div>
      </div>
    </div>


  </section>
 





</body>
</html>