<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <!-- <link rel="stylesheet" href="./css/font-awesome.min.css"> -->
    <link rel="stylesheet" href="./css/style.css">
    <title>GI Research</title>
</head>
<body>
  <!-- <nav class="navbar navbar-expand-lg gi-nav" id="navbar">
    <a class="navbar-brand" href="index.html">
      <img src="./img/logo.jpeg" alt="" class="navlogo">
    </a>
    <button class="navbar-toggler" type="button" data-trigger="#main_nav">
      <span class="navbar-toggler-icon"><i class="fa fa-bars"></i> </span>
    </button>
    <div class="navbar-collapse" id="main_nav">
      <div class="offcanvas-header mt-3">  
        <button class="btn btn-close float-right" style="font-size: 32px;"> &times </button>
        <h5 class="py-2 text-white">Main navbar</h5>
      </div>
      <ul class="navbar-nav ml-auto">
        <li class="nav-item active"> <a class="nav-link" href="index.html">HOME </a> </li>
        <li class="nav-item"><a class="nav-link" href="all-report.html"> REPORTS </a></li>
        <li class="nav-item"><a class="nav-link" href="categories.html"> CATEGORY </a></li>
        <li class="nav-item"><a class="nav-link" href="blog-listing.html"> MEDIA </a></li>
        <li class="nav-item"><a class="nav-link" href="about.html"> ABOUT </a></li>
        <li class="nav-item"><a class="nav-link" href="contact.html"> CONTACT </a></li>
      </ul>
    </div>
  </nav> -->
<!--  -->

  <section class="">
    <div class="container">
      <a href="index.html">Home</a>
    <h2 class="sec-head prime-color ls_1 mt-2 pb-5">Press Release</h2>
    <div class="row mb-4">
        <div class="col-md-4">
            <img src="./img/blog1.jpg" alt="" class="w-100">
        </div>
        <div class="col-md-8 align-self-center">
            <div>
               
               <h4> <a href="#" class="pb-4">Lorem ipsum dolor sit amet consectetur adipisicing elit. Nihil soluta perferendis corrupti eum!</a></h4>
                <p class="op05 f11 pt-2"><i class="fa fa-calendar pr-2"></i><span>Feb 2021</span> </p>
                <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Debitis possimus dolorem eius ducimus explicabo, tempora tenetur, quis amet odit neque inventore voluptatibus, laudantium blanditiis assumenda tempore nam cum id error est voluptatem laboriosam. Laborum reprehenderit praesentium illo nam hic, a voluptatem recusandae amet eligendi, tempora quos corporis, ab quae temporibus. Iure illo autem dolorum quia quasi eveniet et quae magni corrupti totam ab rerum consequatur ipsam ea, in magnam omnis.</p>
            </div>
        </div>
    </div>
    <hr style="background-color: rgba(0,0,0,.1);">
    <div class="row mt-4 pb-5">
      <div class="col-lg-6 col-md-6 col-sm-12 pt-5">
        <div class="card" style="">
          <img class="card-img-top" src="./img/blog.jpg" alt="Card image cap">
          <div class="card-body">
            <h5 class="card-title">
              <a href="pr-details.html">Lorem ipsum dolor sit amet consectetur adipisicing elit. Numquam, ipsum.</a>
              <p class="op05 f11 pt-2"><i class="fa fa-calendar pr-2"></i><span>Feb 2021</span> </p>
            </h5>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
          
          </div>
        </div>
      </div>
      <div class="col-lg-6 col-md-6 col-sm-12 pt-5">
          <div class="card" style="">
            <img class="card-img-top" src="./img/blog.jpg" alt="Card image cap">
            <div class="card-body">
              <h5 class="card-title">
                <a href="pr-details.html">Lorem ipsum dolor sit amet consectetur adipisicing elit. Numquam, ipsum.</a>
                <p class="op05 f11 pt-2"><i class="fa fa-calendar pr-2"></i><span>Feb 2021</span> </p>
              </h5>
              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            
            </div>
          </div>
        </div>
    </div>
    <div class="row mt-4 pb-5">
        <div class="col-lg-4 col-md-6 col-sm-12 pt-5">
          <div class="card" style="">
            <img class="card-img-top" src="./img/blog.jpg" alt="Card image cap">
            <div class="card-body">
              <h5 class="card-title">
                <a href="pr-details.html">Lorem ipsum dolor sit amet consectetur adipisicing elit. Numquam, ipsum.</a>
                  <p class="op05 f11 pt-2"><i class="fa fa-calendar pr-2"></i><span>Feb 2021</span> </p>
              </h5>
              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            
            </div>
          </div>
        </div>
        <div class="col-lg-4 col-md-6 col-sm-12 pt-5">
          <div class="card" style="">
            <img class="card-img-top" src="./img/blog.jpg" alt="Card image cap">
            <div class="card-body">
              <h5 class="card-title">
                <a href="pr-details.html">Lorem ipsum dolor sit amet consectetur adipisicing elit. Numquam, ipsum.</a>
                  <p class="op05 f11 pt-2"><i class="fa fa-calendar pr-2"></i><span>Feb 2021</span> </p>
              </h5>
              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            
            </div>
          </div>
        </div>
        <div class="col-lg-4 col-md-6 col-sm-12 pt-5">
            <div class="card" style="">
              <img class="card-img-top" src="./img/blog.jpg" alt="Card image cap">
              <div class="card-body">
                <h5 class="card-title">
                  <a href="pr-details.html">Lorem ipsum dolor sit amet consectetur adipisicing elit. Numquam, ipsum.</a>
                    <p class="op05 f11 pt-2"><i class="fa fa-calendar pr-2"></i><span>Feb 2021</span> </p>
                </h5>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
              
              </div>
            </div>
          </div>
          <div class="col-lg-4 col-md-6 col-sm-12 pt-5">
            <div class="card" style="">
              <img class="card-img-top" src="./img/blog.jpg" alt="Card image cap">
              <div class="card-body">
                <h5 class="card-title">
                  <a href="pr-details.html">Lorem ipsum dolor sit amet consectetur adipisicing elit. Numquam, ipsum.</a>
                    <p class="op05 f11 pt-2"><i class="fa fa-calendar pr-2"></i><span>Feb 2021</span> </p>
                </h5>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
              
              </div>
            </div>
          </div>
          <div class="col-lg-4 col-md-6 col-sm-12 pt-5">
            <div class="card" style="">
              <img class="card-img-top" src="./img/blog.jpg" alt="Card image cap">
              <div class="card-body">
                <h5 class="card-title">
                  <a href="pr-details.html">Lorem ipsum dolor sit amet consectetur adipisicing elit. Numquam, ipsum.</a>
                    <p class="op05 f11 pt-2"><i class="fa fa-calendar pr-2"></i><span>Feb 2021</span> </p>
                </h5>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
              
              </div>
            </div>
          </div>       <div class="col-lg-4 col-md-6 col-sm-12 pt-5">
            <div class="card" style="">
              <img class="card-img-top" src="./img/blog.jpg" alt="Card image cap">
              <div class="card-body">
                <h5 class="card-title">
                  <a href="pr-details.html">Lorem ipsum dolor sit amet consectetur adipisicing elit. Numquam, ipsum.</a>
                    <p class="op05 f11 pt-2"><i class="fa fa-calendar pr-2"></i><span>Feb 2021</span> </p>
                </h5>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
              
              </div>
            </div>
          </div>       <div class="col-lg-4 col-md-6 col-sm-12 pt-5">
            <div class="card" style="">
              <img class="card-img-top" src="./img/blog.jpg" alt="Card image cap">
              <div class="card-body">
                <h5 class="card-title">
                  <a href="pr-details.html">Lorem ipsum dolor sit amet consectetur adipisicing elit. Numquam, ipsum.</a>
                    <p class="op05 f11 pt-2"><i class="fa fa-calendar pr-2"></i><span>Feb 2021</span> </p>
                </h5>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
              
              </div>
            </div>
          </div>       <div class="col-lg-4 col-md-6 col-sm-12 pt-5">
            <div class="card" style="">
              <img class="card-img-top" src="./img/blog.jpg" alt="Card image cap">
              <div class="card-body">
                <h5 class="card-title">
                  <a href="pr-details.html">Lorem ipsum dolor sit amet consectetur adipisicing elit. Numquam, ipsum.</a>
                    <p class="op05 f11 pt-2"><i class="fa fa-calendar pr-2"></i><span>Feb 2021</span> </p>
                </h5>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
              
              </div>
            </div>
          </div>
          <div class="col-lg-4 col-md-6 col-sm-12 pt-5">
            <div class="card" style="">
              <img class="card-img-top" src="./img/blog.jpg" alt="Card image cap">
              <div class="card-body">
                <h5 class="card-title">
                  <a href="pr-details.html">Lorem ipsum dolor sit amet consectetur adipisicing elit. Numquam, ipsum.</a>
                    <p class="op05 f11 pt-2"><i class="fa fa-calendar pr-2"></i><span>Feb 2021</span> </p>
                </h5>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
              
              </div>
            </div>
          </div>
      </div>
  </section>
  <nav aria-label="...">
    <ul class="pagination" style="width: max-content;margin: 0 auto;">
      <li class="page-item disabled">
        <a class="page-link" href="#" tabindex="-1">Previous</a>
      </li>
      <li class="page-item"><a class="page-link" href="#">1</a></li>
      <li class="page-item active">
        <a class="page-link" href="#">2 <span class="sr-only">(current)</span></a>
      </li>
      <li class="page-item"><a class="page-link" href="#">3</a></li>
      <li class="page-item">
        <a class="page-link" href="#">Next</a>
      </li>
    </ul>
  </nav>
</div>
<!--  -->
<hr style="background-color: rgba(0,0,0,.1);">
<!-- footer -->
<section class="footer mxwidth pb-3 pb-5">
  <div class="row">
    <div class="col-md-2"></div>
    <div class="col-md-8 col-sm-12 text-center">
      <div class="ftr-data">
        <img src="./img/logo.jpeg" alt="" class="">
        <p class="phone"><i class="fa fa-phone pr-3"></i>+200 4586 5978</p>
        <p class="phone"><i class="fa fa-envelope pr-3"></i>info@globalinfiresearch.com</p>
 
        <div class="list-unstyled ftrlinks">
          <a href="index.html">Home</a>
          <a href="reports.html">Reports</a>
          <a href="categories.html">categories</a>
          <a href="blog-listing.html">Media</a>
          <a href="about.html">About us</a>
          <a href="contact.html">Contact us</a>
          <a href="privacy-policy.html">Privacy policy</a>
          <a href="terms.html">Terms and condition</a>
          
          <a href="return-policy.html">Return policy</a>
          <a href="disclaimer.html">Disclaimer</a>
          <a href="faqs.html">FAQS</a>

        </div>
        <h5 class="p-3">“The main goal for us is to turn data into information and information into insights followed by business growth.”</h5>
        <p>The Global Infi Research is a market research agency which is driven by technology and is determined to bring pellucidity and validity in market research domain. Global Infi Research was started in 2021 by an experienced team of professionals from various industries with a sole aim to provide top class services at favorable costs. At Global Infi Research we provide successive solutions with the help of technological flagship that helps the customers in attaining their desired goals. Our team of industry specialists continuously trace markets, granting our clients with interest in attaining competitive edge by providing them with top quality market research reports. </p>

        <div class="s-icons">
          <a href="#"><i class="fa fa-facebook"></i></a>
          <a href="#"><i class="fa fa-instagram"></i></a>
        </div>
      </div>
    </div>
    <div class="col-md-2"></div>
  </div>
</section>




<script>
  $('.carousel').carousel({
  interval: 1000
})
</script>

    <script src="./js/bootstrap.min.js"></script>
    <script src="./js/bootstrap-slider.min.js"></script>
    <script src="./js/popper.min.js"></script>
    <script src="./js/slim.min.js"></script>
    <script src="./js/bootstrap.bundle.min.js"></script>
    <script src="./js/script.js"></script>
</body>
</html>