<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <!-- <link rel="stylesheet" href="./css/font-awesome.min.css"> -->
    <link rel="stylesheet" href="./css/style.css">
    <title>GI Research</title>
</head>
<body>


  <section class="pt-5">
    <div class="container">
        <!-- For Reports -->
        <div class="row">
            <div class="col-sm-12">
                
                <?php foreach ($reports_data as $report) { ?>

                <div class="rListReport">
                    <div class="row">
                        <div class="col-lg-9 col-md-12 col-sm-12">
                            <a href="<?php echo base_url('Cust/Controller_Report/details/'.$report['id'])?>">
                                <div class="rListrpTitle">
                                    <h2><?php echo $report['title']?></h2>
                                    <p><?php echo $report['description']?></p>
                                    
                                </div>
                            </a>

                        </div>
                        <div class="col-lg-3 col-md-12 col-sm-12 align-self-center">
                            <div class="rListBtns">
                                
                                <p class="p-0 text-center"><i class="fa fa-dollar text-success pr-1" style="font-size:22px !important;"></i> <span class="f24 font-weight-bold ls-1  text-success"><?php echo $report['singleUserAmount']?></span></p>
                                <a href="#">Buy now</a>
                                <a href="#">Sample request</a>
                            </div>
                        </div>
                    </div>
                </div>
                
                <?php } ?>
                
            </div>
        </div>
        <!--  -->
        <!-- For Blogs -->
        <div class="row justify-content-center">
            <div class="col-sm-12 col-md-12">
                <div class="singleBlog"> 
                    
                          <nav aria-label="breadcrumb">
                            <ol class="breadcrumb pl-0" style="background-color: transparent;">
                              <li class="breadcrumb-item"><a href="#">Home</a></li>
                              <li class="breadcrumb-item"><a href="#">Blogs</a></li>
                              <!-- <li class="breadcrumb-item active" aria-current="page">Cryptocurrencies typically operate</li> -->
                            </ol>
                          </nav>
                      
                      <h4 class="prime-color"><?php echo $blogs_data['title']?></h4>
                      <p><i class="fa fa-calendar pr-2"></i><?php echo $blogs_data['created_at']?></p>
                      <div class="pt-3">
                          <p><?php echo $blogs_data['description']?></p>
                            <img src="<?php echo base_url('assets/images/cust/img/static-bg.jpg') ?>" alt="" class="w-100" style="height: 300px;">
                          <p><?php echo $blogs_data['description']?></p>
                    </div>
                </div>
            </div>
          
        </div>
        <!--  -->
        <!-- For Press Release -->
        <div class="row mt-4 pb-5">
            <?php
            $i = 0;
            foreach ($pressrelease_data as $blog) { 
                $i++;
                if($i <= 3){  continue; }
                ?>
            <div class="col-lg-4 col-md-6 col-sm-12 pt-5">
              <div class="card" style="">
                <img class="card-img-top" src="<?php echo base_url('assets/images/cust/img/blog.jpg') ?>" alt="Card image cap">
                <div class="card-body">
                  <h5 class="card-title">
                    <a href="Controller_PressRelease/details/<?php echo $blog['id']?>"><?php echo $blog['title'];?></a>
                      <p class="op05 f11 pt-2"><i class="fa fa-calendar pr-2"></i><span><?php echo $blog['created_at'];?></span> </p>
                  </h5>
                  <p class="card-text"><?php echo $blog['description'];?></p>            
                </div>
              </div>
            </div>
            <?php } ?>
    
          </div>
          <!--  -->
    </div>
  </section>

</div>
<!--  -->
<hr style="background-color: rgba(0,0,0,.1);">
<!-- footer -->
<!--<section class="footer mxwidth pb-3 pb-5">
  <div class="row">
    <div class="col-md-2"></div>
    <div class="col-md-8 col-sm-12 text-center">
      <div class="ftr-data">
        <img src="./img/logo.jpeg" alt="" class="">
        <p class="phone"><i class="fa fa-phone pr-3"></i>+200 4586 5978</p>
        <p class="phone"><i class="fa fa-envelope pr-3"></i>info@globalinfiresearch.com</p>
 
        <div class="list-unstyled ftrlinks">
          <a href="index.html">Home</a>
          <a href="reports.html">Reports</a>
          <a href="categories.html">categories</a>
          <a href="blog-listing.html">Media</a>
          <a href="about.html">About us</a>
          <a href="contact.html">Contact us</a>
          <a href="privacy-policy.html">Privacy policy</a>
          <a href="terms.html">Terms and condition</a>
          
          <a href="return-policy.html">Return policy</a>
          <a href="disclaimer.html">Disclaimer</a>
          <a href="faqs.html">FAQS</a>

        </div>
        <h5 class="p-3">“The main goal for us is to turn data into information and information into insights followed by business growth.”</h5>
        <p>The Global Infi Research is a market research agency which is driven by technology and is determined to bring pellucidity and validity in market research domain. Global Infi Research was started in 2021 by an experienced team of professionals from various industries with a sole aim to provide top class services at favorable costs. At Global Infi Research we provide successive solutions with the help of technological flagship that helps the customers in attaining their desired goals. Our team of industry specialists continuously trace markets, granting our clients with interest in attaining competitive edge by providing them with top quality market research reports. </p>

        <div class="s-icons">
          <a href="#"><i class="fa fa-facebook"></i></a>
          <a href="#"><i class="fa fa-instagram"></i></a>
        </div>
      </div>
    </div>
    <div class="col-md-2"></div>
  </div>
</section>-->




<!--<script>
  $('.carousel').carousel({
  interval: 1000
})
</script>

    <script src="./js/bootstrap.min.js"></script>
    <script src="./js/bootstrap-slider.min.js"></script>
    <script src="./js/popper.min.js"></script>
    <script src="./js/slim.min.js"></script>
    <script src="./js/bootstrap.bundle.min.js"></script>
    <script src="./js/script.js"></script>-->
</body>
</html>