<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <!-- <link rel="stylesheet" href="./css/font-awesome.min.css"> -->
    <link rel="stylesheet" href="./css/style.css">
    <title>GI Research</title>
    <style>
        
        .pthTitle{
            display: none;
        }
        .secHead h1{
          margin-top: 151px;
        }
    </style>
</head>
<body>
  <div class="container">
    <div class="secHead pb-2">
    <h1 class="">TERMS AND CONDITION</h1>
    </div>
  </div>
  <section class="container">

    <div class="row mb-4">
        <div class="col-sm-12 col-md-12 col-lg-12 m-auto staticinfo">
            <div>
                <p>
                    <span style="font-size: 20px;"> The terms</span>  published can be changed when necessary. For that we request, to kindly read the terms & conditions before proceeding. Prior to using the Site, you must read and agree to the present Terms of Use. By using this website, you agree to be legally bound by these conditions. If you are not in agreement, you should not use the site.
                </p>
       

                   
                      
               <h2> Copyright and Usage of Web Content:</h2>
            <p>      The entire content of the website and products are the exclusive property of Global Infi Research. Any reproduction in any form whatsoever is prohibited unless authorized by the organization.</p>
          
               <h2> Personalization and Shipping:</h2>
            <p>      The Research Study will be provided over the next 48-72 hours via e-mail, after confirmation. If a customized review is requested by the customer, the Global Infi Research team will carry out a feasibility survey where the client will be notified of the modern capabilities and the duration needed to deliver the research study. Once the new scope and schedule have been agreed upon, the report will be delivered by the agreed deadline.</p>
          
            <p>      In case of effective and personal delivery of the print copy of the study report, we ‘Global Infi Research’ team will send the report by post within 5-8 working days, with the shipping charges incurred by the customer and after receiving the receipt of the payment.</p>
          
               <h2> Modifications:</h2>
            <p>      Global Infi Research may modify these terms and conditions of use at any time without notice. Changes will be displayed under “Legal Notice”. Your use of the Website following the posting of any changes will constitute your acceptance of the modified Terms of Use and any changes. Therefore, you should read these Terms of Use from time to time to make sure you know about the latest changes.</p>
            <p>          </p>
                <h2> About the Agreement:</h2>
            <p>      Subject to these Terms of Use (this "Agreement"), Global Infi Research and/or its subsidiaries, as applicable, (collectively and individually, "we", "our" or "us") make available certain on-line information and services on various websites ("Our Service") to registered and/or authorized users ("you" or "your"). Our Service presents information, data, content, news, reports, programs, video, audio and other materials and services, communications, transmissions and other items, tangible or intangible, which are referred to as "Material." Your use of Our Service represents your recognition and consent to be bound by this Agreement.</p>
          
                <h2> Refund Policy:</h2>
            <p>      Please read all the information related to any product prior making a request. Because of the confidentiality of the information supplied, the cancellation or refund of the order placed for a given product cannot be accepted.</p>
            <p>      In case of any problem or discrepancies regarding the data provided in the finished product, please get in touch with our research team @GlobalInfiResearch.com</p>
            <p>          </p>
                <h2> Return Policy:</h2>
            <p>      Due to the nature of the information sold, we are unfortunately not able to accept product returns after delivery. Please make sure to read all available information and clear doubts on any report before placing your order. If you have any questions about the coverage or relevance of a report, contact us for assistance from a research professional.</p>
            <p>          </p>
                <h2> Delivery:</h2>
            <p>      Reports purchased directly from the website or otherwise will be shipped between 24-72 hours, except purchases made on weekends or statutory holidays will be delivered the next business day. The Global Infi Research is not responsible to the Purchaser for any loss or damage incurred directly or indirectly by the Buyer.</p>
            <p>          </p>
                <h2> Payment: </h2>
            <p>      International payments will only be accepted in American dollars (USD). For payments made in India, the INR amount must be equal to the USD price reported in the report plus the 18% GST.</p>
          
                <h2> Availability:</h2>
            <p>      Although Global Infi Research.com takes realistic steps to ensure that its websites are accessible, we make no warranty of availability will not be liable for any losses as a result of their unavailability.</p>
         
                <h2>  Security:</h2>
            <p>      Global Infi Research.com makes reasonable efforts to protect the security of any information you enter or send to Global Infi Research.com in connection with this website using secure services and encryption technology, when considered appropriate by global Infi Research.com, such as access to secure areas on the website.</p>
            <p>      The transmission of information over the Internet (unless it is encrypted) is inherently uncertain and straits-research.com does not guarantee that the Web site is free of errors, bugs or viruses. You need to take reasonable precautions, such as using updated anti-virus software to protect your device. Global Infi Research.com does not accept any accountability for damages you may incur as a result of damage or loss of confidentiality of your information.</p>
                  












           
            </div>
        </div>
    </div>

  </section>
 
<!--  -->
<!--<hr style="background-color: rgba(0,0,0,.1);">-->
<!-- footer -->
<!--<section class="footer pb-3 pb-5 pt-3  bg-prime">
  <div class="container">
  <div class="row">
    <div class="col-md-2"></div>
    <div class="col-md-8 col-sm-12 text-center">
      <div class="ftr-data">
        <img src="./img/logo.jpeg" alt="" class="">
        <div class="d-flex pt-4">
        <p class="phone pr-4 m-auto"><i class="fa fa-phone pr-3"></i>+200 4586 5978<i class="fa fa-envelope pl-3 pr-3"></i>info@globalinfiresearch.com</p>
         <p class="phone"></p> 
      </div>
        <div class="list-unstyled ftrlinks">
           <a href="index.html">Home</a>
          <a href="reports.html">Reports</a>
          <a href="categories.html">categories</a>
          <a href="blog-listing.html">Media</a>
          <a href="about.html">About us</a>
          <a href="contact.html">Contact us</a> 
          <a href="privacy-policy.html">Privacy policy</a>
          <a href="terms.html">Terms and condition</a>
          
          <a href="return-policy.html">Return policy</a>
          <a href="disclaimer.html">Disclaimer</a>
          <a href="faqs.html">FAQS</a>

        </div>
        <h5 class="p-3 clrfff op05">“The main goal for us is to turn data into information and information into insights followed by business growth.”</h5>
       
        <div class="s-icons">
          <a href="#" class="clrfff"><i class="fa fa-facebook"></i></a>
          <a href="#" class="clrfff"><i class="fa fa-instagram"></i></a>
        </div>
      </div>
    </div>
    <div class="col-md-2"></div>
  </div>
</div>
</section>-->


<!-- Modals  -->

<!-- Modal -->
<!--<div class="modal fade" id="giGlobalSearch" tabindex="-1" role="dialog" aria-labelledby="giGlobalSearchLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header pb-0" style="border-bottom: none;">
        <h5 class="modal-title op05 f13" id="giGlobalSearchLabel">Please enter keywords</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body pt-0">
        <form action="#">
          <label for="gisearch"></label>
          <input type="search" id="gisearch" name="gisearch">
          <br>
          <input type="submit" value="Search" class="gi-submit">
        </form>
      </div>
    
    </div>
  </div>
</div>-->


<!--  -->


</body>
</html>